html, body{
    background-color: #21232A;
    color: white;
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;

}

html{
    font-size: 62.5%;
}

body{
    box-sizing: inherit;
    padding: 7rem;
}

h1{
    font-size: 3rem;
}

h2{
    font-size: 2.8rem;
}

p{
    font-size: 2rem;
}

button{
    padding: 1rem 4rem;
    border-radius: 15px;
    font-family: 'Helvetica Nue', Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
}

button:hover{
    cursor: pointer;
}